<h1>Aqui estão os dados referentes a "{{dietas.nome}}"</h1>
<a href="{% url 'dietas:dietas' %}">Voltar</a><br>
<strong>Dados da Dieta:</strong><br>
    Nome:
    {{dietas.nome}}<br>
    Descrição:
    {{dietas.descricao}}<br>
    Id da Exigência:
    {{dietas.exigencia_id}}<br>
<hr>

<strong>Alimentos que compoem a dieta:</strong><br>
{% for i in alimentos_nutrientes %}
    {{i.alimento}}<br>
    {% for j in i.nutrientes%}
        {{j.nutriente}} - {{j.valor}} |
    {% endfor %}
    <br>
    <br>
{% endfor %}
<hr>

<strong>Valor nutricional * quantidade na dieta:</strong><br>
{% for i in alimentos_nutrientes %}
    {{i.alimento}} - {{i.quantidade}}kg<br>
    {% for j in i.nutrientes%}
        {{j.nutriente}} - {{j.produto}} |
    {% endfor %}
    <br>
    <br>
{% endfor %}
<br>
<hr>

<strong>Total fornecido pela dieta:</strong><br>
<br>
{% for i in lista_totais %}
    {{i}} |
{% endfor %}