{% extends 'master.html' %}
{% load static %} 
{% load custom_tags %}
{% block conteudo %}

<div class="container mt-3">
    
    <h1>Gerenciamento da Dieta</h1>


    <div class='row'>
        <div class="col position-relative p-3">
            <label for="txtNome"
                class="form-label position-absolute" 
                style="top: -10px; left: 10px; padding: 0 4px; font-size: 0.9rem;">
                Nome
            </label>
            <input class="form-control form-control-md" type="text" id="txtNome" placeholder="Nome...">
        </div>
        <div class="col position-relative p-3">
            <label for="txtExigencia" 
                class="form-label position-absolute" 
                style="top: -10px; left: 10px; padding: 0 4px; font-size: 0.9rem;">
                Exigência
            </label>
            <input class="form-control form-control-md" type="text" id="txtExigencia" class="form-control" placeholder="Exigência...">
        </div>
    </div>

    <div class="row">
        <div class="col position-relative p-3">
            <label for="txtDescricao" 
                class="form-label position-absolute" 
                style="top: -10px; left: 10px; padding: 0 4px; font-size: 0.9rem;">
                Descrição
            </label>
            <textarea class="form-control form-control-md" id="txtDescricao"></textarea>
        </div>
    </div>
    <hr>

    <div class="table-responsive" style="border-radius: 10px; ">
        <table class="table">
            <thead class="fw-bold" style="background-color:#2f453a; color:white">
                <tr>
                    <th>Alimento</th>
                    <th>Quantidade</th>
                    <th style="white-space: nowrap;">MS <small>(%)</small></th>
                    <th style="white-space: nowrap;">PB <small>(Mcal)</small></th>
                    <th style="white-space: nowrap;">ED <small>(%MS)</small></th>
                    {% for nutriente in todos_nutrientes %}
                    <th style="white-space: nowrap;">
                        {{ nutriente.nome }} <small>({{ nutriente.unidade }})</small>
                    </th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for comp in comp_dieta %}
                <tr>
                    <td style="white-space: nowrap;">{{ comp.alimento.nome }}</td>
                    <td>{{ comp.quantidade|truncar:2 }} <small>(kg)</small></td>
                    <td>{{ comp.alimento.ms }}</td>
                    <td>{{ comp.alimento.pb }}</td>
                    <td>{{ comp.alimento.ed }}</td>

                    {% for nutriente in todos_nutrientes %}
                    <td>
                        {{ nutrientes_por_alimento|dictget:comp.alimento.id|dictget:nutriente.id|default:0 }}
                    </td>
                    {% endfor %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="{{ 5|add:todos_nutrientes|length }}">Nenhum alimento nesta dieta.</td>
                </tr>
                {% endfor %}

                <!-- Linha de total fornecido -->
                <tr class="fw-bold" style="background-color:#2f453a; color:white">
                    <td colspan="5" class="text-end">Total Fornecido:</td>
                    {% for nutriente in todos_nutrientes %}
                    <td>
                        {{ total_fornecido|dictget:nutriente.nome|default:"0" }}
                    </td>
                    {% endfor %}
                </tr>

                <!-- Linha da Exigência -->
                <tr class="fw-bold" style="background-color:#2f453a; color:white">
                    <td colspan="5" class="text-end">{{exigencia.nome}}:</td>
                    {% for nutriente in todos_nutrientes %}
                    <td>
                        {{ exigencia_por_nutriente|dictget:nutriente.nome|default:"0" }}
                    </td>
                    {% endfor %}
                </tr>

                <!-- Linha de balanceamento -->
                <tr class="fw-bold" style="background-color:#2f453a; color:white">
                    <td colspan="5" class="text-end">Balanceamento (Diferença p/ Exigência):</td>
                    {% for nutriente in todos_nutrientes %}
                    <td>
                        {{ balanceamento|dictget:nutriente.nome|default:"0" }}
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row d-flex justify-content-end mx-1 my-3">
        <button 
            style="background-color:white; color:#2f453a; border:2px solid #2f453a; border-radius: 4px;"
        >
            <img src="{% static 'img/add_circle.png' %}" width="20"
                style="margin-right: 3px;">
            Adicionar Alimento
        </button>
        <button class="botao" style="margin: 0px 0px 0px 10px;">
            Salvar
        </button>
</div>

</div>
{% comment %}
<div class="row mt-4">
  <div class="col-md-6 mb-3">
    <label class="form-label">Nome da Dieta</label>
    <input class="form-control" name="nome" required />
  </div>

  <div class="col-md-6 mb-3">
    <label class="form-label">Exigência</label>
    <select class="form-control" name="exigencia" required>
      <option value="" disabled selected>Selecione</option>
      {% for ex in exigencias %}
      <option value="{{ ex.id }}">{{ ex.nome }}</option>
      {% endfor %}
    </select>
  </div>
  {% endcomment %} {% endblock %}
</div>
