{% extends 'master.html' %}
{%load static%}
{% block conteudo %}
<div class="container">
    <div class="text-center mb-5">
        <h1>Alimentos</h1>
        <hr>
    </div>
    <!-- Formulário de busca -->
    <form method="get" class="form-group row mb-4 d-flex justify-content-center">
        <div class="col-3">
            <input class="form-control"
                    id="txtBuscaNomeClassificacao"
                    name="btnBusca"
                    value="{{ query }}"
                    type="text"
                    placeholder="Informe uma classificação...">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form> 
    <!-- Botão de inserir -->
    <div class="form-group row mr-1 justify-content-end">
        <button type="button" 
        class="btn btn-sm btn-primary insert-btn"
        data-url="/inserir_classificacao/"
        >Inserir Alimentos</button>
    </div>
    <!-- Tabela -->
    <div id="nutrientes-table">
        {% include 'alimentos_table.html' %}
    </div>
</div>
<script>const csrf_token = '{{ csrf_token }}';</script>
<script type="module" src="{% static 'js/crud_alimentos.js' %}">
</script>
{% endblock %}
