{% load static %}
<table class="table tabela table-hover">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Classificação</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for alimento in alimentos %}
        <tr class="alimentos-row">
            <td>{{ alimento.nome }}</td>
            <td>{{alimento.classificacao.nome}}</td>
            <td>
                {% if alimento.is_active %}
                <button class="btn btn-sm desativar-btn"
                        data-id="{{ alimento.id }}"
                        data-nome="{{ alimento.nome }}">
                    <img src="{% static 'img/unlock.png' %}" alt="Excluir" width="20" height="20">
                {% else %}
                <button class="btn btn-sm ativar-btn"
                        data-id="{{ alimento.id }}"
                        data-nome="{{ alimento.nome }}">
                    <img src="{% static 'img/lock.png' %}" alt="Excluir" width="20" height="20">
                {% endif %}
                </button>

                {% if alimento.is_active %}
                <button class="btn btn-sm update-btn"
                        data-id="{{ alimento.id }}">
                    <img src="{% static 'img/update.png' %}" alt="Alterar" width="20" height="20">
                </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Paginador -->
{% include "paginador.html" %}
<!-- SweetAlert2 e HTMX
Copiei todo o js e joguei dentro da pasta de estaticos -->
<script src="{% static 'js/sweetalert2@11.js'%}"></script>
<script src="{% static 'js/htmx.js'%}"></script>