{% load static %}
<table class="table table-bordered table-hover mb-5 tabelas">
   <tbody style="p{font-family: 'Poppins', sans-serif;}">
   {% for classificacao in classificacoes %}
      <tr data-id="{{ classificacao.id }}">      
         <td class="align-middle w-75">
            <p class="mb-0 content-start" id="txtNome">{{ classificacao.nome }}</p>
         </td>
         <td class="text-end pe-3">
            <div class="d-inline-flex gap-2">
               {% if classificacao.is_active %}
               <button class="btn btn-sm desativar-btn" 
                     data-id="{{ classificacao.id }}"
                     data-url="/desativar_classificacao/?id={{ classificacao.id }}">
                  <img src="{% static 'img/unlock.png' %}" alt="Excluir" width="20" height="20">
               {% else %}
               <button class="btn btn-sm ativar-btn" 
                     data-id="{{ classificacao.id }}"
                     data-url="/ativar_classificacao/?id={{ classificacao.id }}">
                  <img src="{% static 'img/lock.png' %}" alt="Excluir" width="20" height="20">
               {% endif %}
               </button>

               {% if classificacao.is_active %}
               <button class="btn btn-sm update-btn"
                     data-id="{{ classificacao.id }}"
                     data-url="/atualizar_classificacao/?id={{ classificacao.id }}&nome={{classificacao.nome}}">
                  <img src="{% static 'img/update.png' %}" alt="Alterar" width="20" height="20">
               </button>
               {% endif %}
            </div>
         </td>
      </tr>
   {% endfor %}
   </tbody>
</table>
{% include 'paginador.html'%}
<!-- CSRF Token (pode ser usado com HTMX ou Ajax) -->
<input type="hidden" id="csrf-token" value="{{ csrf_token }}">

<!-- Importar SweetAlert2 e HTMX -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/htmx.org@2.0.4"></script>
