{% extends 'master.html' %}
{%load static%}
{% block conteudo %}
<div class='container my-5'>
   <div class="form-group row align-items-center mb-5">
      <div class="col">
         <input class="form-control" 
         id="txtBuscaNome" 
         value="{{ query }}"
         type="text" 
         placeholder="Digite o nome"
         >
      </div>
      <div id="mensagem-confirmacao"></div>
   </div> 
   {% include 'classificacao_table.html' %}
</div>
<script>
  const csrf_token = '{{ csrf_token }}';
</script>
<script src="{% static "js/classificacao.js" %}"></script>
{% endblock %}