{% comment %} {% load static %} {% endcomment %}
{% comment %} <table class="table table-striped table-bordered table-hover"> {% endcomment %}
   {% comment %} <thead> {% endcomment %}
      {% comment %} <tr> {% endcomment %}
         {% comment %} <th scope="col">NOME</th> {% endcomment %}
         {% comment %} <th scope="col">CATEGORIA</th> {% endcomment %}
         {% comment %} <th scope="col">UNIDADE</th> {% endcomment %}
         {% comment %} <th scope="col">AÇÕES</th> {% endcomment %}
      {% comment %} </tr> {% endcomment %}
   {% comment %} </thead> {% endcomment %}
   {% comment %} <tbody> {% endcomment %}
      {% comment %} {% for nutrientes in nutrientes %} {% endcomment %}
      {% comment %} <tr class="nutrientes-row" data-id="{{ nutrientes.id }}"> {% endcomment %}
         {% comment %} <td>&nbsp;{{ nutrientes.nome }}</td> {% endcomment %}
         {% comment %} <td>{{ nutrientes.categoria}}</td> {% endcomment %}
         {% comment %} <td>{{nutrientes.unidade }}</td> {% endcomment %}
         {% comment %} <td> {% endcomment %}
            {% comment %} <button class="btn btn-sm delete-btn" data-id="{{ alimentos_nutrientes.id }}"> {% endcomment %}
               {% comment %} <img src="{% static 'img/delete.png' %}" alt="Excluir" width="20" height="20"> {% endcomment %}
            {% comment %} </button>               {% endcomment %}
            {% comment %} <button class="btn btn-sm"> {% endcomment %}
               {% comment %} <img src="{% static 'img/update.png' %}" alt="Alterar" width="20" height="20"> {% endcomment %}
            {% comment %} </button> {% endcomment %}
         {% comment %} </td> {% endcomment %}
      {% comment %} </tr> {% endcomment %}
      {% comment %} {% endfor %} {% endcomment %}
    {% comment %} </tbody> {% endcomment %}
{% comment %} </table> {% endcomment %}
{% comment %}  {% endcomment %}
{% comment %} <nav aria-label="Page navigation"> {% endcomment %}
   {% comment %} <ul class="pagination"> {% endcomment %}
      {% comment %} {% if page_obj.has_previous %} {% endcomment %}
         {% comment %} <li class="page-item"><a class="page-link" href="?page=1&query={{ query }}">&laquo; primeira</a></li> {% endcomment %}
         {% comment %} <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&query={{ query }}">&lsaquo; anterior</a></li> {% endcomment %}
      {% comment %} {% else %} {% endcomment %}
         {% comment %} <li class="page-item disabled"><span class="page-link">&laquo; primeira</span></li> {% endcomment %}
         {% comment %} <li class="page-item disabled"><span class="page-link">&lsaquo; anterior</span></li> {% endcomment %}
      {% comment %} {% endif %} {% endcomment %}
      {% comment %}  {% endcomment %}
      {% comment %} {% for num in page_obj.paginator.page_range %} {% endcomment %}
         {% comment %} {% if page_obj.number == num %} {% endcomment %}
            {% comment %} <li class="page-item active"><span class="page-link">{{ num }}</span></li> {% endcomment %}
         {% comment %} {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} {% endcomment %}
            {% comment %} <li class="page-item"><a class="page-link" href="?page={{ num }}&query={{ query }}">{{ num }}</a></li> {% endcomment %}
         {% comment %} {% endif %} {% endcomment %}
      {% comment %} {% endfor %} {% endcomment %}
      {% comment %}  {% endcomment %}
      {% comment %} {% if page_obj.has_next %} {% endcomment %}
         {% comment %} <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&query={{ query }}">próxima &rsaquo;</a></li> {% endcomment %}
         {% comment %} <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&query={{ query }}">última &raquo;</a></li> {% endcomment %}
      {% comment %} {% else %} {% endcomment %}
         {% comment %} <li class="page-item disabled"><span class="page-link">próxima &rsaquo;</span></li> {% endcomment %}
         {% comment %} <li class="page-item disabled"><span class="page-link">última &raquo;</span></li> {% endcomment %}
      {% comment %} {% endif %} {% endcomment %}
    {% comment %} </ul> {% endcomment %}
{% comment %} </nav> {% endcomment %}

{% load static %}
<table class="table table-bordered table-hover mb-5 tabelas">
   <tbody style="p{font-family: 'Poppins', sans-serif;}">
   {% for nutrientes in nutrientes %}
      <tr data-id="{{ nutrientes.id }}">      
         <td class="align-middle w-75">
            <p class="mb-0 content-start" id="txtNome">{{ nutrientes.nome }}</p>
         </td>
         <td class="text-end pe-3">
            <div class="d-inline-flex gap-2">
            </div>
         </td>
      </tr>
   {% endfor %}
   </tbody>
</table>
<nav aria-label="Page navigation" class="fs-2">
   <ul class="pagination">
      {% if page_obj.has_previous %}
         <li class="page-item"><a class="page-link" href="?page=1&query={{ query }}">&laquo; primeira</a></li>
         <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&query={{ query }}">&lsaquo; anterior</a></li>
      {% else %}
         <li class="page-item disabled"><span class="page-link">&laquo; primeira</span></li>
         <li class="page-item disabled"><span class="page-link">&lsaquo; anterior</span></li>
      {% endif %}
      
      {% for num in page_obj.paginator.page_range %}
         {% if page_obj.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
         {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}&query={{ query }}">{{ num }}</a></li>
         {% endif %}
      {% endfor %}
      
      {% if page_obj.has_next %}
         <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&query={{ query }}">próxima &rsaquo;</a></li>
         <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&query={{ query }}">última &raquo;</a></li>
      {% else %}
         <li class="page-item disabled"><span class="page-link">próxima &rsaquo;</span></li>
         <li class="page-item disabled"><span class="page-link">última &raquo;</span></li>
      {% endif %}
    </ul>
</nav>
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- HTMX -->
<script src="https://unpkg.com/htmx.org@2.0.4"></script>



