{% extends 'master.html' %}

{% load static %}

{% block conteudo %}

    <div class="cabecalho">
        <h1 style="text-align:center">Software de Nutrição Equina com balanceamento <br> de dietas e gerenciamento de dados</h1>
        <div style="width:54%; height:auto;">
            <h2>Escola de Saúde Digestiva do Cavalo é um software educacional desenvolvido com foco em profissionais das áreas de Medicina Veterinária e Zootecnia.
                A iniciativa é fruto de uma colaboração entre a Fábrica de Soluções Tecnológicas (FAST), vinculada ao curso de Bacharelado em Engenharia da Computação,
                e o Núcleo de Veterinária, ambos pertencentes ao Instituto Federal de Educação, Ciência e Tecnologia de Minas Gerais – Campus Bambuí.</h2>
        </div>
        <div class="conteudo-home">
            <div class="texto">
                <h1>Gerenciamento de Alimentos</h1>
                <h3>- Exibição com filtros estratégicos</h3>
                <h2> Você poderá ter uma visão melhorada do sistema implantado <br>
                    na planilha com filtros dinâmicos e pesquisas de alimentos </h2>
                <h3>- Adição, remoção e atualização de dados alimentares</h3>
                <h2>Todo bom sistema de gerenciamento exige um CRUD simples, <br>
                    por isso estamos desenvolvendo uma forma de você alterar <br>
                    dados de determinado alimento a qualquer hora e tela</h2>
                <h3>- Comparação de alimentos</h3>
                <h2>Você poderá comparar diferentes alimentos para descobrir <br>
                    quais são mais adequados para sua dieta ou fazer uma <br> 
                    análise rápida dos itens disponíveis no seu arsenal alimentar.</h2>
            </div>
            <div class="imagem">
                <img src='/static/img/graos.png' style="width:300px; height:auto;">
            </div>
        </div>
        <div class="conteudo-home">
            <div class="imagem">
                <img src='/static/img/dieta.png' style="width:300px; height:auto;">
            </div>
            <div class="texto">
                <h1>Gerenciamento de Exigências</h1>
                <h3>- Comparação de exigências</h3>
                <h2> Você poderá comparar diferentes alimentos para descobrir quais <br>
                    são mais adequados para sua dieta ou fazer uma análise rápida dos <br> 
                    itens disponíveis no seu arsenal alimentar. </h2>
                <h3>- Atualização de dados  de exigências</h3>
                <h2>Todo bom sistema de gerenciamento exige um CRUD simples, <br>
                    por isso estamos desenvolvendo uma forma de você alterar <br>
                    dados de determinado alimento a qualquer hora e tela</h2>
                <h3>- Exibição com filtros estratégicos</h3>
                <h2>Você poderá ter uma visão melhorada do sistema implantado <br>
                    na planilha com filtros dinâmicos e pesquisas de alimentos</h2>
            </div>
        </div>
    </div>
{% endblock %}