{% extends 'master.html' %}
{% load static %}
{% block conteudo %} 
<!-- 
    @Nicole dá uma olhada nessa proposta, SEU CÓDIGO TÁ FORA DA TAG ENDBLOCK, SE NÃO GOSTAR DA IDEIA SÓ PEGAR DE VOLTA E REMOVER ESSE DO BLOCO
    Tô usando o framework de front para ficar responsivo em telas pequenas e grandes
-->

<div class="container mt-3 py-4" > <!-- o container "embala" os elementos dando um espaçamento horizontal padrão; o py-4 dá um padding no eixo y de 4 unidades do bootstrap -->

    <!-- Apresentação-->
    <div class="row align-items-center" >
        <h1 class="mx-auto text-center mb-5"><!-- text-center centraliza o texto; mx-auto alinha a horizontal automaticamente; mb-4 dá uma margem abaixo do elemento de 4 unidades do bootstrap-->
            Software de Nutrição Equina com Balanceamento de Dietas e <br>Gerenciamento de dados
        </h1>
        <div class="mx-auto" style="max-width: 900px;">
            <!-- Texto completo - visível em telas médias -->
            <h2 class="h5 text-center mx-5 d-none d-md-block">
                A nutrição equina é essencial para a saúde, desempenho e bem-estar dos cavalos, mas muitos criadores enfrentam dificuldades na formulação de dietas equilibradas devido à falta de conhecimento técnico, à complexidade dos cálculos nutricionais e ao difícil acesso a ferramentas adequadas. Embora existam diretrizes confiáveis para alimentação equina, sua aplicação prática ainda é limitada, especialmente entre pequenos criadores. Diante disso, este projeto de extensão propõe o desenvolvimento de um software acessível e intuitivo para cálculo e gestão de dietas equinas, com base em parâmetros científicos, visando facilitar a elaboração de planos alimentares personalizados conforme as necessidades específicas de cada animal.
            </h2>

            <!-- Texto reduzido - visível apenas em telas pequenas -->
            <h2 class="h5 text-center mx-5 d-block d-md-none">
                A nutrição equina é essencial para a saúde e desempenho dos cavalos, mas muitos criadores enfrentam dificuldades por falta de conhecimento técnico e acesso a ferramentas adequadas. Este projeto propõe um software intuitivo e acessível, baseado em parâmetros científicos, para facilitar a formulação de dietas personalizadas para diferentes categorias de equinos.
            </h2>
        </div>  
    </div>
    
    <!-- Gerenciamento de Alimentos -->
    <div class="row align-items-center mt-5">
        <!-- texto -->
        <div class="col">
            <h1 class="m-4">Gerenciamento de Alimentos</h1>
            <div class="mx-4">  
                <ul>
                <li style="list-style-type: square"><h3>Exibição com filtros estratégicos </h3> </li>
                
                <h2 class="ml-3 h5">
                    Você poderá ter uma visão melhorada do sistema implantado
                    na planilha com filtros dinâmicos e pesquisas de alimentos. 
                </h2>
                <li style="list-style-type: square">
                <h3>Adição, remoção e atualização de dados alimentares</h3>
                <h2 class="ml-3 h5">
                    Todo bom sistema de gerenciamento exige um CRUD simples,
                    por isso estamos desenvolvendo uma forma de você alterar
                    dados de determinado alimento a qualquer hora e tela.
                </h2>
                <li style="list-style-type: square"><h3>Comparação de alimentos</h3></li>
                <h2 class="ml-3 h5">
                    Você poderá comparar diferentes alimentos para descobrir
                    quais são mais adequados para sua dieta ou fazer uma 
                    análise rápida dos itens disponíveis no seu arsenal alimentar.
                </h2>
                </ul>
            </div>
        </div>
        <!-- imagem -->
        <div class="col-md-5 text-center">
            <img src="/static/img/graos.png" class="img-fluid" alt="Grãos">
        </div>
    </div>
    
    <!-- Gerenciamento de Exigências -->
    <div class="row align-items-center mb-5">
        <div class="col-md-5 text-center">
            <img src="/static/img/dieta.png" class="img-fluid" alt="Dieta">
        </div>
        <div class="col">
            <h1 class="m-4">Gerenciamento de Exigências</h1>
            <div class="mx-5">
                <ul>
                <li style="list-style-type: square"><h3>Comparação de exigências</h3></li>
                <h2 class="ml-3 h5">
                    Você poderá comparar diferentes alimentos para descobrir quais
                    são mais adequados para sua dieta ou fazer uma análise rápida dos 
                    itens disponíveis no seu arsenal alimentar.
                </h2>
                <li style="list-style-type: square"><h3>Atualização de dados de exigências</h3></li>
                <h2 class="ml-3 h5">
                    Todo bom sistema de gerenciamento exige um CRUD simples,
                    por isso estamos desenvolvendo uma forma de você alterar
                    dados de determinado alimento a qualquer hora e tela
                </h2>
                <li style="list-style-type: square"><h3>Exibição com filtros estratégicos</h3></li>
                <h2 class="ml-3 h5">
                    Você poderá ter uma visão melhorada do sistema implantado
                    na planilha com filtros dinâmicos e pesquisas de alimentos
                </h2>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- 🫶 Seu código ta aqui Nicole  -->
<div class="cabecalho">
    <h1 style="text-align:center">Software de Nutrição Equina com balanceamento <br> de dietas e gerenciamento de dados</h1>
    <div style="width:54%; height:auto;">
        <h2 >Escola de Saúde Digestiva do Cavalo é um software educacional desenvolvido com foco em profissionais das áreas de Medicina Veterinária e Zootecnia.
            A iniciativa é fruto de uma colaboração entre a Fábrica de Soluções Tecnológicas (FAST), vinculada ao curso de Bacharelado em Engenharia da Computação,
            e o Núcleo de Veterinária, ambos pertencentes ao Instituto Federal de Educação, Ciência e Tecnologia de Minas Gerais – Campus Bambuí.</h2>
    </div>
    <div class="conteudo-home">
        <div class="texto">
            <h1>Gerenciamento de Alimentos</h1>
            <h3>- Exibição com filtros estratégicos</h3>
            <h2> Você poderá ter uma visão melhorada do sistema implantado <br>
                na planilha com filtros dinâmicos e pesquisas de alimentos </h2>
            <h3>- Adição, remoção e atualização de dados alimentares</h3>
            <h2>Todo bom sistema de gerenciamento exige um CRUD simples, <br>
                por isso estamos desenvolvendo uma forma de você alterar <br>
                dados de determinado alimento a qualquer hora e tela</h2>
            <h3>- Comparação de alimentos</h3>
            <h2>Você poderá comparar diferentes alimentos para descobrir <br>
                quais são mais adequados para sua dieta ou fazer uma <br> 
                análise rápida dos itens disponíveis no seu arsenal alimentar.</h2>
        </div>
        <div class="imagem">
            <img src='/static/img/graos.png' style="width:300px; height:auto;">
        </div>
    </div>
    <div class="conteudo-home">
        <div class="imagem">
            <img src='/static/img/dieta.png' style="width:300px; height:auto;">
        </div>
        <div class="texto">
            <h1>Gerenciamento de Exigências</h1>
            <h3>- Comparação de exigências</h3>
            <h2> Você poderá comparar diferentes alimentos para descobrir quais <br>
                são mais adequados para sua dieta ou fazer uma análise rápida dos <br> 
                itens disponíveis no seu arsenal alimentar. </h2>
            <h3>- Atualização de dados  de exigências</h3>
            <h2>Todo bom sistema de gerenciamento exige um CRUD simples, <br>
                por isso estamos desenvolvendo uma forma de você alterar <br>
                dados de determinado alimento a qualquer hora e tela</h2>
            <h3>- Exibição com filtros estratégicos</h3>
            <h2>Você poderá ter uma visão melhorada do sistema implantado <br>
                na planilha com filtros dinâmicos e pesquisas de alimentos</h2>
        </div>
    </div>
</div>