{% extends 'master.html' %}

{% load static %}

{% block conteudo %}

    <div class="cabecalho">
        <h1 style="text-align:center">Software de Nutrição Equina com balanceamento <br> de dietas e gerenciamento de dados</h1>
        <h2>Escola de Saúde Digestiva do Cavalo é um software educacional desenvolvido com foco em profissionais das áreas de Medicina Veterinária e Zootecnia. <br>
            A iniciativa é fruto de uma colaboração entre a Fábrica de Soluções Tecnológicas (FAST), vinculada ao curso de Bacharelado em Engenharia da Computação, <br>
            e o Núcleo de Veterinária, ambos pertencentes ao Instituto Federal de Educação, Ciência e Tecnologia de Minas Gerais – Campus Bambuí.</h2>

        <div class="conteudo-home">
            <div class="texto">
                <h1>Gerenciamento de Alimentos</h1>
                <h3>- Exibição com filtros estratégicos</h3>
                <h2> Você poderá ter uma visão melhorada do sistema implantado na <br>
                    planilha com filtros dinâmicos e pesquisas de alimentos </h2>
                <h3>- Adição, remoção e atualização de dados alimentares</h3>
            </div>
            <div class="imagem">
                <img src='/static/img/graos.png' style="width:300px; height:auto;">
            </div>
        </div>
    </div>
{% endblock %}